{% extends 'backend/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Edit Post <small>{{ post.title }}</small></h1>
                </div>
                <ol class="breadcrumb">
                  <li><a href="{% url 'user_panel_index' %}">General Overview</a></li>
                  <li><a href="{% url 'user_panel_posts' %}">Posts</a></li>
                  <li class="active">Edit Post</li>
                </ol>
                <form action="." method="post" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group {% if form.title.errors %}has-error{% endif %}">
                        <label class="control-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                        <div class="controls">
                            {{ form.title|add_class:"form-control" }}
                        </div>
                        {% for error in form.title.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group {% if form.summary.errors %}has-error{% endif %}">
                        <label class="control-label" for="{{ form.summary.id_for_label }}">{{ form.summary.label }}</label>
                        <div class="controls">
                            {{ form.summary|add_class:"form-control" }}
                        </div>
                        {% for error in form.summary.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group {% if form.body.errors %}has-error{% endif %}">
                        <label class="control-label" for="{{ form.body.id_for_label }}">{{ form.body.label }}</label>
                        <div class="controls">
                            {{ form.body }}
                        </div>
                        {% for error in form.body.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.main_image.label_tag }}
                        <div class="controls">
                            {{ form.main_image }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.publish.label_tag }}
                        <div class="controls">
                            {{ form.publish }}
                        </div>
                    </div>
                    <div class="form-group {% if form.categories.errors %}has-error{% endif %}">
                        <label class="control-label" for="{{ form.categories.id_for_label }}">{{ form.categories.label }}</label>
                        <div class="controls">
                            {{ form.categories|add_class:"form-control" }}
                        </div>
                        {% for error in form.categories.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group {% if form.tags.errors %}has-error{% endif %}">
                        <label class="control-label" for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
                        <div class="controls">
                            {{ form.tags|add_class:"form-control" }}
                        </div>
                        {% for error in form.tags.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-default">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}