{% extends 'backend/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Edit Post <small>{{ post.title }}</small></h1>
                </div>
                <ol class="breadcrumb">
                  <li><a href="{% url 'user_panel_index' %}">General Overview</a></li>
                  <li><a href="{% url 'user_panel_posts' %}">Posts</a></li>
                  <li class="active">Edit Post</li>
                </ol>
                <form action="." method="post" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_title">{{ form.title.label }}</label>
                        <div class="controls">
                            {{ form.title|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_summary">{{ form.summary.label }}</label>
                        <div class="controls">
                            {{ form.summary|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_body">{{ form.body.label }}</label>
                        <div class="controls">
                            {{ form.body }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ form.main_image.label }}</label>
                        <div class="controls">
                            {{ form.main_image }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ form.publish.label }}</label>
                        <div class="controls">
                            {{ form.publish }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ form.categories.label }}</label>
                        <div class="controls">
                            {{ form.categories|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tags</label>
                        <div class="controls">
                            {{ form.tags|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-default">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}