{% extends 'backend/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Edit Category <small>{{ category.name }}</small></h1>
                </div>
                <ol class="breadcrumb">
                  <li><a href="{% url 'user_panel_index' %}">General Overview</a></li>
                  <li><a href="{% url 'user_panel_categories' %}">Categories</a></li>
                  <li class="active">Edit Category</li>
                </ol>
                <form action="." method="post" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                        <label class="control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        <div class="controls">
                            {{ form.name|add_class:"form-control" }}
                        </div>
                        {% for error in form.name.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-default">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}