{% extends 'backend/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Posts</h1>
                </div>
                <ol class="breadcrumb">
                    <li><a href="{% url 'user_panel_index' %}">General Overview</a></li>
                    <li class="active">Posts</li>
                </ol>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Link</th>
                            <th>Published</th>
                            <th>Created at</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.pk }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.slug }}</td>
                            <td>{{ post.publish }}</td>
                            <td>{{ post.created_at }}</td>
                            <td>
                                <a href="{% url 'user_panel_edit_post' post_id=post.pk %}" class="btn btn-default">Edit</a>
                                <a href="#" class="btn btn-default">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}